h1, p {
  font-family: Lato;
}
.red{
  color:Red;
  border:1px solid red;
}
.green{
  color:green;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}
#navbar ul li{
	display: inline;
	list-style-type: none;
	padding: 15px;
	background-color: #4CAF50;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}